[Unit]
Description=Kicks off check-status every 5 min
Documentation=https://github.com/smaddock/bluesky-server
After=network.target
Requires=bluesky-status.service

[Timer]
OnCalendar=*-*-* *:*/5:00
Unit=bluesky-status.service

[Install]
WantedBy=timers.target
